:root{
    --corPrimaria: #03A64A;
}

.containerNativo{
    background-color: var(--corPrimaria);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerElementos{
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10vh;
}

.logo{
    width: 10vw;
    margin: 50px 0 15px 0;
}

.resultado{
    color: var(--corPrimaria);
    font-size: 25px;
}

.btn {
    font-size: 25px;
    background-color: var(--corPrimaria);
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

.horario{
    font-weight: 400;
}

/* Responsividade */
@media (max-width: 280px){
    .containerNativo{
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .containerElementos{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .logo{
        width: 35vw;
        margin: 50px 0 15px 0;
    }

    .frase{
        font-size: 20px ;
    }

    .resultado{
        font-size: 20px;
    }
    
    .btn {
        font-size: 20px;
    }
}

@media (max-width: 550px){
    .containerNativo{
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }   

    .containerElementos{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
    
    .logo{
        width: 35vw;
        margin: 50px 0 15px 0;
    }
}

@media (max-width: 1280px){
    .containerNativo{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .containerElementos{
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}




